* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
.joke-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.joke-container img {
    max-width: 200px;
}
button#button {
    background: red;
    outline: 0;
    padding: 10px;
    border: 1px solid red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}